@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400;500;700&family=Mukta:wght@300;400;500&display=swap');

:root {

    /* class colors */

    --blue-dark: #0c1e2c;
    --blue-grey: #4a858d;
    --bule-sky: #00a5b5;
    --pink: #f54a7e;
    --wine: #43263c;

    /* font colors */
    --off-white: #E2E2E2;
    --just-white: #FFFFFF;
    --warm-black: #1F1E1C;
    --just-black: #000000;

    /* fonts */

    --m-plus:'M PLUS Code Latin', sans-serif;
    --mutaka: 'M PLUS Code Latin', sans-serif;
}

/*** My CSS configs ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a, input, button, submit {
    all: unset;
    cursor: pointer;
}

/*** header ***/

.header-nav {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;

    /* font */

    font-size: 2rem;
    font-weight: 500;
    font-family: var(--m-plus);
    color: var(--just-white);
}

.nav-item {
    text-shadow: 2px 2px 3px black;
}

.nav-item:hover {
    transform: scale(1.2);
    color: var(--bule-sky);
}

.header-logo__img {
    width: 100px;
}

/*** main ***/

.main-home {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.877);
    background-image: url('/Assets/images/pavosh-bg.png');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-about {
    width: 100%;
    height: 3000px;
}